{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav tablet:grid-col-3 padding-bottom-4">
  <nav class="guidenav">
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
       <a href="#chapter1">Chapter 1: Introduction</a>
      </li>
     <li class="usa-sidenav__item">
       <a href="#chapter2">Chapter 2: The Uniqueness of GenAI</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter3">Chapter 3: Procurement Process</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter4">Chapter 4: Typical GenAI Projects</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter5">Chapter 5: Acquisition Methods</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter6">Chapter 6: Best Practices</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter7">Chapter 7: Agency Support</a>
      </li>
      <li class="usa-sidenav__item">
      <a href="#chapter8">Chapter 8: Conclusion</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="" target="_blank" class="usa-button usa-button margin-1">
          Print or Save as PDF
        </a>
      </li>
    </ul>
  </nav>
</aside>
