{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav tablet:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="" target="_blank" class="usa-button usa-button margin-1">
          Print or Save as PDF
        </a>
      </li>
      <li class="usa-sidenav__item">
        <a href="#remember:" class="usa-current">Remember</a>
        <ul class="usa-sidenav__sublist">
          <li class="usa-sidenav__item">
            <a href="#quick-links:">Quick</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="#ready-to-ai" class="usa-current">Ready?</a>
            <ul class="usa-sidenav__sublist">
              <li class="usa-sidenav__item">
                <a href="#you-may-need-to-do-an-acquisition-for-generative-ai-products-services-and-solutions-to-support-your-agencies'-mission.-here-a-few-ways-to-acquire-generative-ai.">You may</a>
              </li>
            </ul>
          </li>
          <li class="usa-sidenav__item">
            <a href="#want-to-buy-ai-smartly">Buy Smart</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Child link</a>
          </li>
          <li class="usa-sidenav__item">
            <a href="">Child link</a>
          </li>
        </ul>
      </li>
      <li class="usa-sidenav__item">
        <a href="">Parent link</a>
      </li>
    </ul>
  </nav>
</aside>
