{% comment %} This will be displayed on the homepage. Ideally, you want to
highlight key goals of the website {% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading">
        <span class="usa-hero__heading--alt"></span
        ><i>Governmentwide best practices</i>
      </h1>
      <p>
        This website is designed to help Federal purchasers acquire generative
        AI and specialized computing infrastructure for their organizations.
      </p>
      <a class="usa-button" href="guidance">Read the guidance</a>
    </div>
  </div>
</section>
