 {% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">Hey guys!</span><i>We have a sandbox</i>
      </h1>
      <p>One day, this website will tell you how to get AI.</p>
      <a class="usa-button" href="javascript:void(0)">What is AI?</a>
    </div>
  </div>
</section>
