{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Step 1.</h3>
          <p>
            Everything you need to know about AI and the Federal workplace
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Step 2.</h3>
          <p>
            Everything you need to know about getting new technology.
          </p>
        </div>
      </div>
    </div>
    <div class="usa-graphic-list__row grid-row grid-gap">
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">
            Step 3.
          </h3>
          <p>
            Do you want to make Skynet? Learn why that's a bad idea.
          </p>
        </div>
      </div>
      <div class="usa-media-block tablet:grid-col">
        {% image_with_class  "./node_modules/@uswds/uswds/dist/img/circle-124.png" "usa-media-block__img" "alt text" %}
        <div class="usa-media-block__body">
          <h3 class="usa-graphic-list__heading">Step 4.</h3>
          <p>
            Here's another topic. How cool is that?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
