{% comment %} Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight. {% endcomment %}

<section class="usa-section usa-section--dark">
  <div class="grid-container">
    <div class="grid-row margin-top-2">
      <p class="font-sans-lg  line-height-sans-4">
        On October 30, 2023, the White House issued Executive Order (E.O.) 14110
        on Safe, Secure, and Trustworthy Development and Use of Artificial
        Intelligence. 
        </p>
        <p class="font-sans-lg line-height-sans-4">The E.O. marks a governmentwide effort to guide
        responsible artificial intelligence (AI) development and deployment.
        This website hosts guidance and data tools designed to answer common
        questions around bringing AI to a federal workplace.
      </p>
    </div>

    <div class="grid-row margin-bottom-2">
      <h1>GenAI is not all of AI</h1>
      <p class="font-sans-lg line-height-sans-4">
        This guide is focused on generative artificial intelligence applications
        and related infrastructure.
        <a href="guidance#chapter1" class="internal-link"
          >What's the difference?</a
        >
      </p>
    </div>

    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4 margin-bottom-6 tablet:display-flex">
        <div class="border-bottom-05 border-primary-lightest">
          <h2>Who's this for?</h2>
          <p class="font-sans-lg line-height-sans-4 padding-bottom-3">
            This guidance is to aid the
            <a href="guidance" class="internal-link"
              >federal acquisition workforce</a
            >.
          </p>
        </div>
      </div>

      <div class="tablet:grid-col-4 margin-bottom-6 tablet:display-flex">
        <div class="border-bottom-05 border-primary-lightest">
          <h2>Is it final?</h2>
          <p class="font-sans-lg line-height-sans-4 padding-bottom-3">
            This is Version 1.0, it will
            <a href="guidance" class="internal-link">evolve over time</a>.
          </p>
        </div>
      </div>

      <div class="tablet:grid-col-4 margin-bottom-6 tablet:display-flex">
        <div class="border-bottom-05 border-primary-lightest">
          <h2>How to help?</h2>
          <p class="font-sans-lg line-height-sans-4 padding-bottom-3">
            This initiative runs on your feedback,
            <a href="guidance" class="internal-link">learn how to contribute</a
            >.
          </p>
        </div>
      </div>
    </div>
    <div class="grid-row
    ">
      <h1>GenAI was used in production</h1>
      <p class="font-sans-lg  line-height-sans-4">
        A banner titled "This Page Contains Synthetic Content" appears
        throughout this site.
        <a href="guidance" class="internal-link">Here's what that means</a>.
      </p>
    </div>
  </div>
</section>
