{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}

<section class="usa-section usa-section--dark">
  <div class="grid-container">
    <div class="grid-row margin-bottom-6">
      <h2> Goal: Share best practices for acquiring AI</h2>
    </div>

    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4 margin-bottom-6 tablet:display-flex">
        <div class="border-bottom-05 border-primary-lightest">
  <img src="https://placehold.co/357x239?text=Placeholder\nimage" class="width-full" alt=""> 
  <p class=" font-sans-lg line-height-sans-4 padding-bottom-3"> 
    Audience: Who should use this site
  </p>
</div>

      </div>

      <div class="tablet:grid-col-4 margin-bottom-6 tablet:display-flex">
        <div class="border-bottom-05 border-primary-lightest">
  <img src="https://placehold.co/357x239?text=Placeholder\nimage" class="width-full" alt=""> 
  <p class=" font-sans-lg line-height-sans-4 padding-bottom-3"> 
    Application: How you should use this site 
  </p>
</div>

      </div>

      <div class="tablet:grid-col-4 margin-bottom-6 tablet:display-flex">
        <div class="border-bottom-05 border-primary-lightest">
  <img src="https://placehold.co/357x239?text=Placeholder\nimage" class="width-full" alt=""> 
  <p class=" font-sans-lg line-height-sans-4 padding-bottom-3"> 
    Additions: How you can improve this site 
  </p>
</div>

      </div>
    </div>

    <div class="grid-row">
      <img src="https://placehold.co/1120x375?text=Placeholder\nimage" alt="">
    </div>

    <div class="grid-row margin-top-4">
      <p class="font-sans-xl measure-6">
        On October 30, 2023, the White House issued Executive Order (E.O.) 14110 on Safe, Secure, and Trustworthy Development and Use of Artificial Intelligence. The E.O. marks a governmentwide effort to guide responsible artificial intelligence (AI) development and deployment. This website hosts guidance and data tools designed to answer common questions around bringing AI to a federal workplace.
      </p>
    </div>

    <a href="#" class="usa-button usa-button--big an18f-button--accent margin-top-4"> Visit AI.gov
    </a>
  </div>
</section>
