{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="grid-container usa-section usa-prose">
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">Looking for guidance?</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
      <p>Well step right up partner, you're in the right place!</p>
      <p>This site supports rapid prototyping. We can edit the HTML directly and/or deploy a CMS for blogging. Lots of other cool stuff too.</p>
    </div>
  </div>
</section>
