{% comment %} 
This tagline will appear in your homepage
{% endcomment %}

<section class="usa-section usa-prose tagline">
  <div class="grid-container">
    <div class="excerpt">
    "facilitate access to Federal Government-wide acquisition solutions for specified types of AI services and products, such as through the creation of a resource guide or other tools to assist the acquisition workforce. Specified types of AI capabilities shall include generative AI and specialized computing infrastructure."
    </div>
    <div class="citation">
       <a class="usa-link--external" href="https://www.federalregister.gov/d/2023-24283/p-337" target="_blank">Executive Order 14110 – Safe, Secure, and Trustworthy Artificial Intelligence</a>
    </div>
    </div>
</section>
