{% comment %} This tagline will appear in your homepage {% endcomment %}

<section class="bg-base-lightest padding-y-10">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col">
        <figure class="margin-y-0">
          <h1>Our Goal</h1>
          <blockquote
            class="font-sans-xl tablet-lg:font-sans-2xl line-height-sans-3 margin-top-0 margin-x-1 tablet:margin-x-0 text-outdent-2"
          >
            "facilitate access to Federal Government-wide acquisition solutions
            for specified types of AI services and products, such as through the
            creation of a resource guide or other tools to assist the
            acquisition workforce. Specified types of AI capabilities shall
            include generative AI and specialized computing infrastructure."
          </blockquote>
          <figcaption class="font-sans-lg text-outdent-2 line-height-sans-3">
            <a
              class="usa-link--external"
              href="https://www.federalregister.gov/d/2023-24283/p-337"
              target="_blank"
              >Executive Order 14110 – Safe, Secure, and Trustworthy Artificial
              Intelligence</a
            >
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
