{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}

<aside class="usa-layout-docs-sidenav tablet:grid-col-3 padding-bottom-4">
  <nav class="guidenav">
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
       <a href="#chapter1">1. Generative AI 101</a>
      </li>
     <li class="usa-sidenav__item">
       <a href="#chapter2">2. Generative AI in the Government</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter3">3. Generative AI Procurement</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter4">4. Acquisition Methods and Vehicles</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter5">5. Data Tools</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter6">6. Specialized Computing Infrastructure for Generative AI</a>
      </li>
      <li class="usa-sidenav__item">
       <a href="#chapter7">7. Agency Support and Resources</a>
      </li>
      {% if guidenav == true %} 
      <li class="usa-sidenav__item">
        <a href="{{ '/print-all' | url }}" target="_blank" class="usa-button usa-button margin-1">
          Print or Save as PDF
        </a>
      </li>
      {% endif %} 
    </ul>
  </nav>
</aside>
