@use "uswds-core" as *;

.touchpoints__container {
  padding-left: units(2);
  padding-right: units(2);
  @include at-media("desktop") {
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }
  @include at-media("widescreen") {
    bottom: 0;
    position: sticky;
    z-index: z-index(500);
    pointer-events: none;
  }

  .usa-button {
    margin-bottom: units(2);
    line-height: 1.5;
    @include at-media("desktop") {
      margin: units(2) units(2) units(4);
    }

    @include at-media("widescreen") {
      pointer-events: auto;
    }
  }
}

#itc-web-content-survey-yes-no {
  // Your custom styles for the feedback button
  // For example:

  &:hover,
  &:focus {

  }
  &::before {
    //content: "Site in development"
  }
}
