@use 'uswds-core' as * with (
  $theme-show-notifications: false,
  $theme-font-path: '../node_modules/@uswds/uswds/dist/fonts',
  $theme-image-path: '../node_modules/@uswds/uswds/dist/img',
  $theme-font-type-sans: 'public-sans',
  $theme-hero-image: '../_img/uploads/AI Banner A.png'
 // $theme-main-logo: '../_img/uploads/ai-guide-icon-dark.svg'

);

@forward 'uswds';
@forward 'usa-identifier';

@forward "overrides/gh-edit-page";
@forward "overrides/gh-commit-info";
@forward "overrides/guidenav";
//@forward "overrides/logo";
@forward "overrides/feedback";
@forward "overrides/tagline";

.usa-hero {
      border-bottom: 1px solid #dfe1e2;
}
